/* =====================
NAVIGATION BACKGROUND
===================== */
#nav-bg {
  transform-origin: top right;
  transition: transform 0.6s;
  transform: translate(var(--translate-x), var(--translate-y))
    scale(var(--scale));
  will-change: transform;
  pointer-events: none;
}

/* ======
  BUTTON
  ====== */
.btn {
  position: fixed;
  height: calc(var(--btn-size) * 1px);
  width: calc(var(--btn-size) * 1px);
  top: calc((var(--offset-value)) * 0.5px);
  right: calc(var(--offset-value) * 0.5px);
  border-radius: 50%;
  background: var(--Secondary);
  cursor: pointer;
  margin: 0;
  padding: 0 15px;
  border: none;
  z-index: 100;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#toggle-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--Tertiary);
  /*box-shadow: 0 6px 12px rgba(0,0,0,.1);*/
  transition: transform 0.3s;
}

#toggle-btn span {
  position: relative;
  width: 100%;
}

#toggle-btn span {
  margin-top: -4px;
}
#toggle-btn span + span {
  margin-top: 8px;
}

#toggle-btn span:before,
#toggle-btn span:after {
  content: "";
  position: absolute;
  top: 0;
  background: currentColor;
  opacity: 0.8;
  height: 100%;
  width: 50%;
  height: 4px;
  transition: 0.25s cubic-bezier(0.6, 0, 0.3, 1);
  transform-origin: center center;
}

#toggle-btn span:before {
  left: 0;
  border-radius: 3px 0 0 3px;
}

#toggle-btn span:after {
  right: 0;
  border-radius: 0 3px 3px 0;
}

#toggle-btn.shown span:nth-of-type(1):before {
  transform: translate3d(3px, 3.5px, 0) rotate(45deg);
}

#toggle-btn.shown span:nth-of-type(1):after {
  transform: translate3d(-3px, 3.5px, 0) rotate(-45deg);
}

#toggle-btn.shown span:nth-of-type(3):before {
  transform: translate3d(3px, -3.5px, 0) rotate(-45deg);
}

#toggle-btn.shown span:nth-of-type(3):after {
  transform: translate3d(-3px, -3.5px, 0) rotate(45deg);
}

#toggle-btn.shown span:nth-of-type(2):before,
#toggle-btn.shown span:nth-of-type(2):after {
  opacity: 0.0001;
}

#toggle-btn.shown span:nth-of-type(2):before {
  transform: translateX(-200%);
}

#toggle-btn.shown span:nth-of-type(2):after {
  transform: translateX(200%);
}

#toggle-btn.shown:before {
  transform: scale(0.6);
  transition: 0.2s;
}

#toggle-btn:before {
  content: "";
  transition: 0.2s 0.2s;
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: inherit;
  filter: blur(5px);
  z-index: -2;
}
#toggle-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: #fafafa;
  z-index: -1;
}

/* ==========
  NAVIGATION
  ========== */
nav {
  width: 100%;
  height: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  z-index: 200;
  pointer-events: none;
}

nav ul {
  margin: auto;
  pointer-events: auto;
  text-align: center;
}

nav li {
  font-size: 30px;
  color: #212121;
  user-select: none;
  transform: translate(-20px, 20px) scale(0.9);
  transition: 0s;
  opacity: 0.0001;
  visibility: hidden;
  will-change: transform;
}

nav li + li {
  margin-top: 30px;
}

#toggle-btn.shown ~ .wrapper nav li {
  transform: none;
  opacity: 1;
  visibility: visible;
  transition: 0.35s cubic-bezier(0.4, 2.08, 0.55, 1);
}

#toggle-btn.shown ~ .wrapper nav li:nth-child(1) {
  transition-delay: 0.15s;
}
#toggle-btn.shown ~ .wrapper nav li:nth-child(2) {
  transition-delay: 0.25s;
}
#toggle-btn.shown ~ .wrapper nav li:nth-child(3) {
  transition-delay: 0.35s;
}

/* ============
  LINK EFFECT
  ============ */
.link {
  position: relative;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.link:before,
.link:after {
  position: absolute;
  content: "";
  height: 3px;
  width: 50%;
  background: var(--Tertiary);
  top: calc(50% + 2px);
  transition: transform 0.3s cubic-bezier(0.5, 0.5, 0, 1);
}

.link:before {
  left: 0;
  transform: translateX(calc(-100% - 10px)) scaleX(0);
  transform-origin: left;
}

.link:after {
  right: 0;
  transform: translateX(calc(100% + 10px)) scaleX(0);
  transform-origin: right;
}

.link:hover:before {
  transform: translateX(calc(-100% - 10px)) scaleX(1);
  transform-origin: right;
}

.link:hover:after {
  transform: translateX(calc(100% + 10px)) scaleX(1);
  transform-origin: left;
}

/* =======
  CONTENT
  ======= */
#content {
  display: flex;
  height: 100%;
}

#content h1 {
  font-size: calc(4vmin + 1em);
  text-align: center;
  margin: auto;
  color: #fff;
  text-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
  font-family: Helvetica, sans-serif;
  color: var(--Lorem);
}

a {
  color: currentColor;
  transition: 0.2s ease-in-out;
}

ul {
  padding: 0;
  list-style: none;
}
