.logo {
  width: 3.31rem;
  height: auto;
  transform: translate(10px, -170px);
}

.portfolio-image {
  width: 10rem;
  height: auto;
  transform: translate(-30px, 65px);
  z-index: -1;
}

.hero-header {
  border-radius: 20.93px 0px 20.93px 20.93px;
  background: linear-gradient(
    154deg,
    #292929 32.4%,
    rgba(41, 41, 41, 0) 91.08%
  );
  padding: 15px;
  color: var(--Lorem);
  font-family: Helvetica;
  font-size: 35px;
  line-height: 90%; /* 31.95px */
  letter-spacing: -0.225px;
  transform: translate(80px, -25px);
  width: 11.5rem;
}

.name-span {
  color: #6b6b6b;
}

.surname-span {
  color: var(--Tertiary);
}

.hero-text {
  transform: translate(25px, -20px);
  color: var(--Lorem);
  font-family: Helvetica;
  font-size: 11.5px;
  font-style: normal;
  font-weight: 300;
  line-height: 152.99%; /* 17.624px */
  letter-spacing: 0.461px;
  width: 17.5rem;
}

@media (min-width: 375px) {
  .logo {
    width: 3.61rem;
    transform: translate(10px, -275px);
  }

  .portfolio-image {
    width: 15rem;
    transform: translate(-30px, 65px);
  }

  .hero-header {
    transform: translate(110px, -70px);
    font-size: 40px;
    width: 13rem;
  }

  .hero-text {
    transform: translate(25px, -60px);
    font-size: 13px;
    width: 20.5rem;
  }
}

@media (min-width: 390px) {
  .logo {
    width: 4rem;
    transform: translate(10px, -290px);
  }

  .portfolio-image {
    width: 16rem;
    transform: translate(-30px, 75px);
  }

  .hero-header {
    transform: translate(95px, -60px);
    font-size: 55px;
    width: 17rem;
  }

  .hero-text {
    transform: translate(25px, -20px);
    font-size: 14.5px;
    width: 21.1rem;
  }
}

@media (min-width: 414px) {
  .logo {
    width: 4rem;
    transform: translate(10px, -315px);
  }

  .portfolio-image {
    width: 17rem;
    transform: translate(-30px, 75px);
  }

  .hero-header {
    transform: translate(125px, -75px);
    font-size: 48px;
    width: 15.5rem;
  }

  .hero-text {
    transform: translate(30px, -60px);
    font-size: 3.5vw;
    width: 23rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 428px) {
  .logo {
    width: 4rem;
    transform: translate(10px, -380px);
  }

  .portfolio-image {
    width: 20rem;
    transform: translate(-30px, 75px);
  }

  .hero-header {
    transform: translate(130px, -100px);
    font-size: 55px;
    width: 17rem;
  }

  .hero-text {
    transform: translate(30px, -70px);
    font-size: 3.7vw;
    width: 24rem;
  }
}

@media (min-width: 430px) {
  .logo {
    width: 4rem;
    transform: translate(10px, -425px);
  }

  .portfolio-image {
    width: 22rem;
    transform: translate(-30px, 75px);
  }

  .hero-header {
    transform: translate(130px, -110px);
    font-size: 55px;
    width: 17rem;
  }

  .hero-text {
    transform: translate(30px, -90px);
    font-size: 3.8vw;
    width: 23.6rem;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 4rem;
    transform: translate(10px, -506px);
  }

  .portfolio-image {
    width: 27rem;
    transform: translate(-30px, 75px);
  }

  .hero-header {
    transform: translate(140px, -140px);
    font-size: 65px;
    width: 21rem;
  }

  .hero-text {
    transform: translate(30px, -120px);
    font-size: 3vw;
    width: 32rem;
  }
}
