.logo {
  width: 3.31rem;
  height: auto;
  transform: translate(10px, -160px);
}

.portfolio-image {
  width: 10rem;
  height: auto;
  transform: translate(-30px, 55px);
  z-index: -1;
}

.hero-header {
  border-radius: 20.93px 0px 20.93px 20.93px;
  background: linear-gradient(
    154deg,
    #292929 32.4%,
    rgba(41, 41, 41, 0) 91.08%
  );
  padding: 18px 14px 18px 15px;
  color: var(--Lorem);
  font-family: Helvetica;
  font-size: 45px;
  line-height: 90%; /* 31.95px */
  letter-spacing: -0.225px;
  transform: translate(65px, -40px);
  width: 14.7rem;
}

.name-span {
  color: #6b6b6b;
}

.surname-span {
  color: var(--Tertiary);
}

.hero-text {
  transform: translate(25px, -15px);
  color: var(--Lorem);
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 152.99%; /* 17.624px */
  letter-spacing: 0.461px;
  width: 17.7rem;
}

@media (min-width: 321px) {
  .logo {
    width: 4rem;
    transform: translate(10px, -250px);
  }

  .portfolio-image {
    width: 15rem;
    transform: translate(-30px, 75px);
  }

  .hero-header {
    transform: translate(85px, -40px);
    font-size: 50px;
    width: 16.5rem;
  }

  .hero-text {
    transform: translate(25px, -20px);
    font-size: 13px;
    width: 20.5rem;
  }
}

@media (min-width: 376px) {
  .logo {
    width: 4rem;
    transform: translate(10px, -275px);
  }

  .portfolio-image {
    width: 16rem;
    transform: translate(-30px, 75px);
  }

  .hero-header {
    transform: translate(95px, -40px);
    font-size: 55px;
    width: 18rem;
  }

  .hero-text {
    transform: translate(25px, -20px);
    font-size: 14.5px;
    width: 24rem;
  }
}
