:root {
  --Primary: #222222;
  --Secondary: #363636;
  --Tertiary: #9a9d21;
  --Lorem: #e0e0e0;

  --base-space: 1vw;

  --offset-value: 30;
  --btn-size: 60;
}

/*!/--- color: var(--Primary); ---/*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Primary);
  height: 100vh;
}

.root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

::selection {
  background: var(--Tertiary);
}

span::selection {
  background: var(--Lorem);
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
  z-index: -1;
}
