:root {
  --Primary: #222222;
  --Secondary: #363636;
  --Tertiary: #9a9d21;
  --Lorem: #e0e0e0;

  --base-space: 1vw;
}

/*!/--- color: var(--Primary); ---/*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--Primary);
}
