.kontakt-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 70%;
  height: 70%;

  border-radius: 27.87px 0px 27.87px 27.87px;
  border: 1px solid var(--Tertiary);
  background: rgba(44, 44, 44, 0.9);
  font-family: Helvetica;

  margin: auto;
  margin-top: 12rem;
}

.kontakt-header {
  color: var(--Lorem);
  font-size: 3rem;
  line-height: 71%;
  letter-spacing: 1.178px;
  margin-bottom: 5rem;
}

.kontakt-text {
  color: var(--Lorem);
  font-size: 1.3rem;
  line-height: 71%;
  letter-spacing: 1.178px;
  margin-bottom: 2rem;
}

.telegram {
  margin-bottom: 2rem;
  width: 5rem;
}

.mail-link {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.social-links-container {
  width: 13.3rem;
  display: flex;
  justify-content: space-between;
}

.github-logo {
  width: 4rem;
  cursor: pointer;
}

.linkedin-logo {
  width: 4rem;
  cursor: pointer;
}
